<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cars</title>
</head>
<body>
<h1>List of Cars</h1>
<table border="1">
    <tr>
        <th>Brand</th>
        <th>Model</th>
        <th>Year</th>
        <th>Color</th>
        <th>Color view</th>
    </tr>
    <tr th:each="car : ${cars}">
        <td th:text="${car.brand}"></td>
        <td th:text="${car.model}"></td>
        <td th:text="${car.year}"></td>
        <td th:text="${car.color}"></td>
        <td th:style="'background-color: ' + ${car.color} + ';'"></td>
    </tr>
</table>
</body>
</html>